<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="script.js"></script>
    <title>Lab4 4711</title>
</head>
<body>

<form id="logout" action="/logout" method="GET">
    <input type="submit" value="Sign Out"/>
</form>

<header>
    <h1>Artist Directory</h1>
    <form>
        <input id="search" type="text" oninput="searchArtist()"/>
        <input id="addArtist" type="button" value="Add Artist" onclick="toggleForm()"/>
    </form>
</header>

<form id="artistForm" action="/add-artist" method="POST">
    <input type="text" name="name" maxlength="40" placeholder="Artist Name" required>
    <input type="text" name="about" maxlength="40" placeholder="About Artist" required>
    <input type="text" name="image" placeholder="Image URL" required>
    <input id="formSubmit" type="submit" value="Add">
</form>

<ul id="artists">
    {{#each artists}}
        <li class="artist">
            <img src="{{this.image}}" alt="Profile Picture"/>
            <div>
                <h3 class="text">{{this.name}}</h3> <h5 class="text">{{this.about}}</h5>
                <button id="deleteArtist" onclick="deleteArtist({{this.id}})">Delete</button>
            </div>
        </li>
    {{/each}}
</ul>

</body>
</html>